<!DOCTYPE html>
<html>
<body>
<h1>LET'S HAVE SOME FUN!</h1>
<h4>Just fill out this form on how you wanna get wild.</h4>
<form action="funformsmadness" method="get">
  <h2>PICK AN ADJECTIVE:</h2><br>
  <input type="radio" name="type" value="DOPE" checked> DOPE<br>
  <input type="radio" name="type" value="AWESOME"> AWESOME<br>
  <input type="radio" name="type" value="EPIC"> EPIC<br>
  <input type="radio" name="type" value="INCREDDIBLY"> INCREDDIBLY<br>
  <br>
  NOW NAME SOME FUN WORDS:
  <br>
  <input id="long" type="text" name="word1" required>
  <input id="long" type="text" name="word2" required>
  <input id="long" type="text" name="word3" required>
  <input id="long" type="text" name="word4" required>
  <input id="long" type="text" name="word5" required>
  <br>
  <br>
  <button>Fun Request!</button>
</form>
</body>
</html>
