<!DOCTYPE html>
<html>
<body>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <nav class="nav_bar">
        <a href="https://user.tjhsst.edu/2020kusubyan/weatherform">Weather Form!</a>
        <a href="https://user.tjhsst.edu/2020kusubyan/funform">Fun Form!</a>
        <a href="https://user.tjhsst.edu/2020kusubyan/voting_form">AJAX Poll!</a>
        <a href="https://user.tjhsst.edu/2020kusubyan/map_game">Map Game!</a>
        <a href="https://user.tjhsst.edu/2020kusubyan/cookie_content">Cooky Content!</a>
        <a href="https://user.tjhsst.edu/2020kusubyan/reset">reset cooky.</a>
        <a href="https://user.tjhsst.edu/2020kusubyan/login_oauth">Login Dawg (Oauth + SQL).</a>
        <a href="https://user.tjhsst.edu/2020kusubyan/serp">SERP Tester</a>
    </nav>
    <h1>Welcome to my (semi)-functional page!</h1>
</body>
</html>