<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Number Info Presenter</title>
  </head>
  <body>
    <p>POINT REQUESTED: {{point}}</p>
    <p>FORECAST FOR: {{day}}</p>
    <p>Temperature on day: {{temp}}</p>
    <p>Detailed Forecast: {{detailedForecast}}</p>
  </body>
</html>