<!DOCTYPE html>
<html>
<head>
    <link href="css/cookiestyle.css" type="text/css" rel="stylesheet">
</head>
<body>
    <nav class="nav_bar">
        <a href="https://user.tjhsst.edu/2020kusubyan/">Home.</a>
    </nav>
    <form action="cookie_content" method="get">
        Enter Username:<br>
        <input id = "username" type="text" name="username"required>
        <br>
        <button>Log in!</button>
    </form>

</body>
</html>