<!DOCTYPE html>
<html>
<head>
    <link href="css/cookiestyle.css" type="text/css" rel="stylesheet">
</head>
<body>
    <nav class="nav_bar">
        <a href="https://user.tjhsst.edu/2020kusubyan/">Home.</a>
    </nav>
    <div id="divC" class="contentdiv">
        <p id="premiumContentText">You are succesfully logged out of Oauth.</p>
    </div>
</body>
</html>